<!DOCTYPE HTML>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>👽</title>
  <meta name="description" content="An angular app to tell output the weather.">
  <meta name="author" content="⭐👦">

  <link href="/public/style.css" rel="stylesheet" />
  <script src="bower/angular/angular.min.js"></script>
  <script src="bower/angular-sanitize/angular-sanitize.min.js"></script>
</head>

<body ng-app="weatherForecaster" ng-init="tracker={weather:false}">
  <div class="app" ng-controller="cityArbiter">
    <form class="searchForm">
      <input type="text" class="search" ng-model="searchInput" ng-change="getCapitalCitiesList()"/>
      <ul class="suggestions" ng-model="citiesSuggestions">
        <li ng-repeat="city in citiesSuggestions">
          <span ng-model="getCityName" ng-bind-html="(city.cityName)+', '+(city.countryName)" ng-click="getWeatherData()"></span>
        </li>
      </ul>
    </form>

    <div class="weather" ng-controller="newsCaster" ng-if="tracker.weather">
      <p>Weather for the city of <b>{{ weatherData.cityName }}</b></p>
      <div class="weatherData">
        <a class="weatherIcons" href="" data-icon="{{weatherData.cloudIcon}}">{{ weatherData.cloudDescription }}</a>
        <ol class="weatherDataSpecs">
          <li>Wind Speed</li>
          <li>{{ weatherData.windSpeed }}</li>
          <li>Humidity</li>
          <li>{{ weatherData.humidity }}</li>
          <li>Pressure</li>
          <li>{{ weatherData.pressure }}</li>
        </ol>
      </div>
    </div>
  </div>

  <script src="bower/jquery/dist/jquery.min.js"></script>
  <script>
    "use strict";
    const capitalsList = "/public/country-by-capital-city.json";

    let App = angular.module('weatherForecaster', ['ngSanitize']);
    App.controller('cityArbiter', ($scope, $http, $q, $rootScope) => {
      let loadJson = $q((resolve, reject) => {
        $http.get(capitalsList)
          .then(res => {
            let listOfCapitalCities = [];
            res.data.forEach(item => {
              listOfCapitalCities.push(item);
            });
            resolve(listOfCapitalCities);
          });
      });
      loadJson.then(data => {
        $scope.getCapitalCitiesList = function() {
          let match = findMatches(this.searchInput, data);
          $scope.citiesSuggestions = displayMatches(this.searchInput, match);
        }
      });
    });

    App.controller('newsCaster', ($scope, $q, $rootScope) => {
      $rootScope.getWeatherData = function() {
        console.log('Loading....');
        const selectedCity = this.city.rawCityName;
        const iconURL = "http://openweathermap.org/img/w/" + "01d" + ".png";
        let rawWeatherData = $q((resolve, reject) => {
          console.log("Loading again....");
          resolve((getWeather(selectedCity)));
        });
        rawWeatherData.then(data => {
          console.log('Retrieved Data', data);
          let cloudIcon;
          switch (data.weather[0].description) {
            case 'clear sky':
              cloudIcon = 'B'; break;
            case 'few clouds':
              cloudIcon = 'H'; break;
            case 'scattered clouds':
              cloudIcon = 'N'; break;
            case 'broken clouds':
              cloudIcon = 'Y'; break;
            case 'shower rain':
              cloudIcon = 'R'; break;
            case 'rain':
              cloudIcon = 'Q'; break;
            case 'thunderstorm':
              cloudIcon = '0'; break;
            case 'snow':
              cloudIcon = 'W'; break;
            default:
              cloudIcon = 'E'; break;
          }
          $scope.weatherData = {
            "cityName": selectedCity,
            "windSpeed": data.wind.speed,
            "humidity": data.main.humidity,
            "pressure": data.main.pressure,
            "cloudDescription": data.weather[0].description,
            "cloudIcon": cloudIcon
          };
          // console.table($scope.weatherData);
          console.log($rootScope.tracker);
          $rootScope.tracker.weather = true;
        });
      }
    });

    function findMatches(wordToMatch, cities) {
      return cities.filter(place => {
        const regex = new RegExp(wordToMatch, 'gi');
        if (place.city === null) {
          return place.country.match(regex);
        }
        else {
          return place.country.match(regex) || place.country.match(regex);
        }
      });
    }

    function displayMatches(userInput, getMatches) {
      const matchArray = getMatches;
      let html = matchArray.map(place => {
        const regex = new RegExp(userInput, 'gi');
        let rawCityName = place.city;
        let countryName = place.country.replace(regex, `<span class="hl">${userInput}</span>`);
        let cityName;
        (place.city) ? cityName = place.city.replace(regex, `<span class="hl">${userInput}</span>`) : cityName = "Null";
        return {"cityName" : cityName, "countryName" : countryName, "rawCityName": rawCityName };
      });
      return html;
    }

    function getWeather(cityName) {
      let city = cityName.split(' ').join('+');
      let resultFromAPI = $.getJSON("http://api.openweathermap.org/data/2.5/weather?q="+city+"&APPID=d31e6d002bdc87f06ed78301b05eac5e", function() { console.log('API data retrieved.')} )
        .done(json => {
          // let data = {
          //   "city": json.name,
          //   "clouds": json.weather[0].description,
          //   "wind": json.wind.speed,
          //   "humidity": json.main.humidity,
          //   "temp": json.main.temp
          // };
          return json;
        })
        .fail(function() {
          console.log('Failed to get weather');
          return null;
        });
      return resultFromAPI;
    };

  </script>
</body>
</html>
