@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@font-face {
    font-family: 'MeteoconsRegular';
    src: url('./Fonts/Meteocons/meteocons-webfont.eot');
    src: url('./Fonts/Meteocons/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Fonts/Meteocons/meteocons-webfont.woff') format('woff'),
         url('./Fonts/Meteocons/meteocons-webfont.ttf') format('truetype'),
         url('./Fonts/Meteocons/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  box-sizing: border-box;
  /*background: #ffc600;*/
  background: lightblue;
  -webkit-animation: backgroundChange 5s infinite alternate;
  font-size: 20px;
  font-weight: 200;
}
@-webkit-keyframes backgroundChange {
  0% {background: lightblue;}
  100% {background: firebrick;}
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  color:black;
  /*background:rgba(0,0,0,0.1);*/
  text-decoration: none;
}

.app {
  display: flex;
  justify-content: space-around;
}

.searchForm {
  width: 40%;
  height: 100px;
}
  .search {
    width: 100%;
    padding: 5px;
    margin: 0;
    text-align: center;
    outline:0;
    border: 10px solid #F7F7F7;
    width: 100%;
    /*left: -10%;*/
    position: relative;
    top: 20px;
    z-index: 2;
    border-radius: 5px;
    font-size: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  }

  .suggestions {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  .suggestions li {
    background: white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }
  .suggestions li:hover {
    cursor: pointer;
    border-bottom: 2px groove lightblue;
    -webkit-animation: colorChange 1s infinite alternate;
  }
  @-webkit-keyframes colorChange {
    0% {border-color: lightblue;}
    100% {border-color: purple;}
  }
  .suggestions li:nth-child(even) {
    /*transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);*/
    background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
  }
  .suggestions li:nth-child(odd) {
    /*transform: perspective(100px) rotateX(-3deg) translateY(3px);*/
    background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
  }
    .hl {
      background:#ffc600;
    }

.weather {
  width: 40%;
}
.weatherData {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}
  .weatherIcons {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;
  }
  [data-icon]:before {
    font-family: 'MeteoconsRegular';
    content: attr(data-icon);
    font-size: 10em;
    background: transparent;
  }
  .weatherDataSpecs {
    display: flex;
    font-family: 'Droid Serif', serif;
    font-size: 1em;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
  }
